html{
  font-size: 62.5%;
}
body{
 background: url(../images/bg-desktop.svg) var(--primary-color) no-repeat;
 background-size: cover;
 font-family: 'Open Sans', sans-serif;


 min-height: 100vh;
}


.container{
  max-width: 1440px;
  margin: 0 auto;
  height: 100vh;

}
.wrapper{
  height: 90%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 40px 0;
  margin: 0 2rem;

}

.header img{
  width: 190px;
  padding-bottom: 50px;
}
.main{
  display: flex;
  align-items: center;
  gap: 40px;

}

.text h1{
  color: #fff;
  font-size: 4.2rem;
  font-family: 'Poppins', sans-serif;
  margin-bottom: 20px;

}
.text p{
  color: #fff;
  font-family: 'Open Sans', sans-serif;
  font-size: 2rem;
  line-height: 1.8;
  margin-bottom: 15px;

}

.text a{
  display: inline-block;
  font-family: 'Poppins', sans-serif;
  background-color: #FFF;
  border-radius: 50px;
  font-size: 1.8rem;
  padding: 13px 50px;
  box-shadow: 0 8px 17px -8px rgba(0,0,0,.8);
  transition: all .3s ease;
}
.text a:hover{
  background-color: var(--primary-color);
  color: #fff;
}
.social-media{
  text-align: right;

 
  
  
}

.social-media a i{
  color: #fff;
  font-size: 1.8rem;
  position: relative;
 


 
  
}
/* o icone do facebook nao tera margin left */
.social-media a:not(:first-child){
  margin-left: 2rem;
}

.social-media a i:after{
  content: '';
  position: absolute;
  width: 40px;
  height: 40px;
  border: 2px solid #FFF;
  border-radius: 50px;
  left: -13px;
  bottom: -13px;
  transition: 0.3s;
  


}
.social-media a:hover i{
  color: hsl(300, 69%, 71%);
}
.social-media a:hover i:after{
 border: 2px solid hsl(300, 69%, 71%);
  
}

.social-media a:nth-child(2){
 margin-left: 2.4rem;
 padding: 15px;
}

 @media(max-width: 1440px){
  .main .img img{
    width: 100%;
  }
  
 
}


@media(max-width: 768px){
  body{
    background: url(../images/bg-mobile.svg) var(--primary-color)  no-repeat;
    background-size: contain;
  }
  .main{
    flex-direction: column;
    text-align: center;
    padding: 30px;
  }
  .main .img img{
    width: 400px;
  }
  .main .text h1{
    font-size: 2.5rem;
  }
  .main .text p{
    font-size: 1.5rem;
  }
  .social-media{
    text-align: center;
   
   
  }

}



 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 /* .container{
  background-color: chocolate;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
 }

.header .logo{
  background-color: darkgoldenrod;
}
img{
  width: auto;
 }
.header .logo img{
  margin-bottom: 50px;
  width: 160px;
}
.main{
  display: flex;
  width: 1440px;
  max-width: 100%;
  background-color: brown;
}


.main .info-side{
  margin-left: 40px;
}
.main .info-side h1{
  font-family: 'Poppins', sans-serif;
  font-size: 4.9rem;
  font-weight: 600;
  color: #fff;
}
.main .info-side p{
  font-family: 'Poppins', sans-serif;
  font-size: 2rem;
  font-weight: 400;
  color: #fff;
  margin-top: 10px;
  
}
.main .info-side .btn{
  background-color: #fff;
  margin: 15px 30px;
  width: 200px;
  padding: 12px;
  border-radius: 50px;
  font-size:2rem;
  cursor: pointer;
  color: var(--primary-color);
  
}

.main .info-side .btn{
  cursor: pointer;
}
.social-media nav ul{
  background-color: cornflowerblue;
  display: flex;
  justify-content: flex-end;

}
 */

 /* .main .image-side img{
  width: 300px;
} */
 


 
/* .main .info-side{
  padding: 0 70px;
  margin-top: 35px;
  
}
.main .info-side h2{
  font-size: 6rem;
  color: #fff;
font-family: 'Poppins', sans-serif;
  font-weight: 600;
}
.main .info-side p{
  margin-top: 30px;
  font-family: 'Poppins', sans-serif;
  font-weight: 100;
  font-size: 2.4rem;
  color: #fff;
 
}
.main .info-side .btn{
  display: inline-block;
  font-family: 'Open Sans', sans-serif;
  color: var(--primary-color);
  background-color: #fff;
  font-size: 2rem;
  margin: 22px 0;
  padding: 15px 70px;
  border-radius: 30px;

  }

.footer{
    font-size: 2.2rem;
    margin: 0 150px;
    display: flex;
    justify-content: flex-end;
    
}

.footer .menu a{
  width: 100px;
  height: 100px;
  padding: 10px;
  margin: 0 10px;
  border-color: #fff;
  color: #fff;
  
 
} */




